@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <script type="text/javascript" src="@Url.Content("~/lib/jquery/dist/jquery.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/lib/layui/css/layui.css")" />
</head>
<body>
    @RenderBody()
    <script type="text/javascript" src="@Url.Content("~/lib/layui/layui.js")"></script>
</body>
</html>
