@{
    Layout="~/Areas/SysManager/Views/Shared/_LayoutForm.cshtml";
}

<form class="layui-form" action="" lay-filter="example">
    <div class="layui-form-item" hidden>
            <input type="text" name="Id" id="Id" class="layui-input">
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">角色名称</label>
        <div class="layui-input-block">
            <input type="text" name="Name" id="Name" lay-verify="title" autocomplete="off" placeholder="角色名称" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <input type="text" name="RoleDesc" id="RoleDesc" placeholder="描述" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">排序号</label>
        <div class="layui-input-block">
            <input type="text" name="Num" id="Num" lay-verify="number" autocomplete="off" class="layui-input" />
        </div>
    </div>

    @*<div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            </div>
        </div>*@
</form>

<script>
    var loadfrom = function loaddata(data) {
        var dd2 = JSON.stringify(data);
        var ddd = JSON.parse(dd2);
        layui.form.val('example', ddd);
    };
</script>
